@import "https://fonts.googleapis.com/css?family=Annie Use Your Telescope";
$foreground-color: rgba(200,200,200,1.0);
$background-color: rgba(0,0,0,1.0);

body {
    background-color: $background-color;
    user-select: none;
    text-decoration: none;
    color: $foreground-color;
    font-family: Annie Use Your Telescope;
}

#pageTitle {
    font-size: 6em;
    text-align: center;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        cursor: pointer;
        font-size: 20px;
        color: $foreground-color;
        background-color: $background-color;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        border: 3px solid $foreground-color;
        text-align: center;
        margin: 3px;
    }

    button:hover {
        color: red;
        background-color: $foreground-color;
    }
}

#speedSlider {
    display: none;
}

#spinners {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.spinner {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;   //zorgt ervoor dat de inhoudt "clipped".. inhoudt die buiten de grootte komt, wordt niet getoond
    margin: 8px;
    border-radius: 50%;
    border: 3px solid $foreground-color;

    img {
        width: 100%;
        height: auto;
    }

    .label {
        display: block;
        position: absolute;
        top: 136px;
        left: 0px;
        right: 0px;
        text-align: center;
        font-size: 2em;
        transition: all linear 0.7s;
        opacity: 0;
    }

    &:hover .label {
        opacity: 1;
    }

    &:hover img {
        -webkit-filter: grayscale(1);
    }
}

@media screen and (min-width: 540px) {
    body {
        background-image: url("../images/background.jpg");
        background-size: cover;
    }

    #spinners {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #speedSlider {
        display: inline;
    }

    .speedButton {
        display: none;
    }

}


