@import "https://fonts.googleapis.com/css?family=Annie Use Your Telescope";
body {
  background-color: black;
  user-select: none;
  text-decoration: none;
  color: #c8c8c8;
  font-family: Annie Use Your Telescope; }

#pageTitle {
  font-size: 6em;
  text-align: center; }

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #toolbar button {
    cursor: pointer;
    font-size: 20px;
    color: #c8c8c8;
    background-color: black;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 3px solid #c8c8c8;
    text-align: center;
    margin: 3px; }
  #toolbar button:hover {
    color: red;
    background-color: #c8c8c8; }

#speedSlider {
  display: none; }

#spinners {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #c8c8c8; }
  .spinner img {
    width: 100%;
    height: auto; }
  .spinner .label {
    display: block;
    position: absolute;
    top: 136px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 2em;
    transition: all linear 0.7s;
    opacity: 0; }
  .spinner:hover .label {
    opacity: 1; }
  .spinner:hover img {
    -webkit-filter: grayscale(1); }

@media screen and (min-width: 540px) {
  body {
    background-image: url("../images/background.jpg");
    background-size: cover; }

  #spinners {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }

  #speedSlider {
    display: inline; }

  .speedButton {
    display: none; } }

/*# sourceMappingURL=main.css.map */
